/* <!-- ----------------------------------------------------------------------------
*** The following codes produces anticipated output as figma file on screen size
 greater than 1633px as well as equal to and less than 992 px ***
----------------------------------------------------------------------------- --> */


/* importing link from google fonts for 'Work Sans' font. */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    transition: all 0.50s ease-out;
}

button:hover{
    background-color: black;
}

/* grid-container style */
.grid-container{
    display: grid;
    grid-template-areas: 
          'header'
          'main'
          'footer';
    padding-bottom: 10rem;
}

/* header style */
header{
    grid-area: header;
    padding:1rem 0 1.8rem;
    background-color: #FFF4E7;
}

/* header -> nav style */
header nav{
    width: 85%;
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav .nav-list{
    display: flex;
}

nav h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-list a:link, .nav-list a:visited{
    font-size: 1.2rem;
    font-weight: 500;
    margin-right:4rem;
    line-height: 3;
    color: #454545;
    transition: all 0.25s ease;
}

.nav-list a:hover{
    color:#FF900E;
}

.nav-list a:active{
    color: blue;
}

.nav-list .login{
    margin-right: 0;
}

/* header -> content-box style */
.content-box{
    width: 85%;
    margin:7rem auto 0;
}

.content-box img{
    width: 100%;
    object-fit: cover;
}

.banner{ 
    text-align: center;
}

.banner h1{
    width: 40%;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 700;
}

.banner p{
    width: 70%;
    margin:1rem auto;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
}

.button-class{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    padding: 1.2rem 1.4rem;
    background-color: #FF900E;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 2.5rem 0 3.5rem;
}

/* main style */
main{
    grid-area: main;
    margin:4rem 0 0 0;
}

/* main -> quick-list style */
.quick-list{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

.img-grid{
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    flex-grow: 1;
}

.img-grid img{
    width: 100%;
    object-fit: cover;
}

.quick-list-features{
   width: 45%;
   flex-grow: 1;
}

.quick-list-features h1{
    font-size:3rem;
    font-weight:700;
    color:#A4A4A4;
}

.special-black{
    color:black;
}

.special-orange{
    color:#FF900E;
    margin-left: 0.5rem;
}

.quick-list-features p{
    margin: 2rem 0 1rem;
    line-height: 1.5;
}

/* main -> features-you-enjoy style */
.features-you-enjoy{
    width: 88%;
    margin:8rem auto;
}

.feature-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:4rem;
}

.love-and-enjoy{
    margin: 3rem 0 0 0;
    width: 45%;
    flex-grow: 0.5;
}

.architect-image{
    flex-grow: 0.5;
    position: relative;
}

.architect-image img{
    width: 100%;
    object-fit: cover;
}

.overlay-button-container{
    position: absolute;
    width: 100%;
    bottom: -4rem;
    left:-4rem;
    z-index: 2;
}

.year-experience{ 
    font-size: 2rem;
    width: 15rem;
}

.experience{
    font-size: 0.9rem;
}

.love-and-enjoy h1{
    font-size: 3rem;
    padding: 0 0 0 2rem;
    border-left: 8px solid #FF900E;
}

.love-and-enjoy > p{
    line-height: 1.5;
    margin: 2rem 0 3rem;
}

.feature-list{
    width: 88%;
    margin:0 auto;
}

.feature-list li{
    margin-bottom: 4rem;
}

.feature-list h4{
    font-size: 1.5rem;
}

.feature-list p{
    line-height: 1.5;
    margin: 1rem 0;
}

/* main -> some-facts style */
.some-facts{
    width: 85%;
    margin:10rem auto 0;
}

.some-facts h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
}

.some-facts p{
    width: 40%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #727272;
}

.facts-list{
    width: 90%;
    margin:6rem auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:5rem;
}

.facts{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding:1.5rem 2rem;
    border-radius: 10px;
    border: 1px solid #FF900E;
}

.facts img{
    width: 40%;
    object-fit: cover;
}

.facts h4{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
}

.facts h6{
    font-size: 1.3rem;
    font-weight: 700;
    color: #727272;
    text-align: center;
}

/* transition applied in fact-1 and fact-3 into some-facts section  */
.fact-1, .fact-3{
    position: relative;
    top:0;
    transition: all 0.20s ease-in-out;
}

.fact-1:hover, .fact-1:hover h6{
    top:-2rem;
    background-color: black;
    color:white;
    border:none;
    border-radius:0px;
}

.fact-3:hover, .fact-3:hover h6{
    border-radius: 50%;
    background-color: black;
    color:white;
    border:none;
}

/* animation applied in fact-2 and fact-4 into some-facts section */
@keyframes animation-one{
    0%{
        color:orangered;
        border:1px solid white;
    }

    25%{
        color:orangered;
        border-top:1px solid orangered ;
        border-right:1px solid white;
        border-bottom:1px solid white;
        border-left:1px solid white;
    }

    50%{
        color:orange;
        border-top: 1px solid white;
        border-right:1px solid orange;
        border-bottom:1px solid white;
        border-left:1px solid white;
    }

    75%{
        color: blue;
        border-top: 1px solid white;
        border-right:1px solid white;
        border-bottom:1px solid blue;
        border-left:1px solid white;
    }

    100%{
        color: rgb(252, 14, 212);
        border-top: 1px solid white;
        border-right:1px solid white;
        border-bottom:1px solid white;
        border-left:1px solid rgb(252, 14, 212);
    }
}

.fact-2:hover{
    animation: animation-one 1.5s linear 0s infinite;
}

@keyframes animation-two{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.fact-4:hover{
    animation: animation-two 1.5s linear 0s 2 alternate-reverse;
}


/* main -> milestone-projects style */
.milestone-projects{
    width: 80%;
    margin: 10rem auto 5rem;
}

.milestone-projects h2{
    font-size: 4rem;
    text-align: center;
}

.milestone-projects h2 span{
    color: #FF900E;
}

.milestone-projects .projects-list{
    margin: 4rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.project{
    padding:1rem 1rem 1.5rem;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}

.project:hover{
    transform: scale(1.2);
}

.project img{
    width: 100%;
    height: 256px;
    object-fit: cover;

}

.project h3{
    font-size: 1.8rem;
    margin: 0.8rem 0 0 0;
    line-height: 1.5;
}

.project h4{
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 2;
    color: rgb(17, 126, 235);
}

.project .rating{
    display: flex;
    align-items: center;
    margin:0 0 0.5rem 0;
}

.rating i{
    font-size: 0.65rem;
    margin-right: 0.35rem;
    color:darkorchid;
    font-weight: 700;
}

.rating h6{
    margin:0.15rem 0 0 0.3rem ;
    font-size: 1.1rem;
}

.project p{
    font-size: 1.15rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #787885;
    line-height: 1.25;
}

.project .certified{
    margin:1rem 0 0 0;
    color:orangered
}

/* main -> our-sponsors style */
.our-sponsors{
    width: 85%;
    margin:10rem auto 0;
}

.our-sponsors h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
    text-align: center;
}

.our-sponsors p{
    width: 40%;
    margin: 1.5rem auto 0;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    color: #727272;
    text-align: center;
}

.sponsors{
    margin: 4rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem 8rem; 
}

.sponsors img{
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

/* footer style */
footer{
    grid-area:footer;
    width: 80%;
    margin: 8rem auto 0 ;
    padding:1.5rem 0;
    text-align: center;
    background-color: #FFF4E7;
}

footer p{
    font-size: 1.2rem;
    font-weight: 400;
}


/* Media query for large screen */
@media only screen and (max-width: 992px) {
    .banner h1{
        width: 80%;
    }

    .banner p{
        width: 80%;
    }

    .love-and-enjoy{
        width: 85%;
        margin: 3rem 0 0 0;
    }

    .architect-image{
        margin-bottom: 4rem;
    }

     .overlay-button-container{
        display: flex;
        justify-content: center;
        bottom: -14rem;
        left:0;
    } 

    .year-experience{
       width: 12rem;
    }

    .some-facts{
        margin-top: 18rem;
    }

    .some-facts h1{
        text-align: center;
    }

    .some-facts p{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .milestone-projects .projects-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .our-sponsors p{
        width: 100%;
    }
}

/* Media query for medium screen */
@media only screen and (max-width: 768px) {
    header nav{
        flex-flow:column nowrap;
        align-items: center;
    }

    nav .nav-list{
        width: 80%;
        justify-content: space-between;
    }

     .nav-list  a:link{
        margin-right: 0;
    }

    .architect-image{
        width: 85%;
        margin:0 auto;
    }

    .milestone-projects .projects-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for small screen */
@media only screen and (max-width: 576px) {
    nav .nav-list{
        flex-flow: column nowrap;
        align-items: center;
    }

    .nav-list a:link{
        margin-right:0;
    }

    .banner h1{
        width: 100%;
        font-size:2.2rem;
    }

    .banner p{
        font-size: 1rem;
    }

    .img-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .love-and-enjoy h1{
        font-size: 2rem;
    }

    .facts{
        flex-grow: 0.65;
    }

    .milestone-projects .projects-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .milestone-projects h2{
        font-size: 2rem;
    }

    .sponsors{
        flex-flow: column nowrap;
        align-items: center; 
        row-gap: 6rem;
    }

    .sponsors li{
        width: 50%;
    }
}